.PersonShortInfo {
  margin-top: 60px;

  &__type {
    color: #a3a2a2;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }

  &__name {
    font-weight: 700;
    color: #000;
    font-size: 24px;
    display: flex;
  }
}