.List {
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_done{
    position: relative;
    color: #a3a2a2;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }

  &__done {
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: #1976d2;
    }
  }

  &__delete {
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: #1976d2;
    }
  }
}