.PersonHeader {
  position: relative;
  padding: 20px 15px;
  border-bottom: 1px solid #dfe1e5;

  &_alive {
    background-color: rgba(212, 218, 174, 0.3);
  }

  &_dead {
    background-color: rgba(233, 192, 186, 0.3);
  }

  &_unknown {
    background-color: rgba(186, 186, 186, 0.3);
  }

  &__image {
    position: absolute;
    top: 10px;
    border-radius: 50%;
    border: 1px solid #dfe1e5;
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
  }

  &__status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}