.Pages {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  gap: 15px;

  @media (max-width: 1200px) {
    padding-bottom: 0;
  }

  &__current {
    max-width: 50px;
    font-size: 28px;
    font-weight: 700;
    color: #A3A2A2;
  }
}