.Person {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;


  &__info {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__button {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }
}