.ControlGroup {
  width: 100%;
  z-index: 5;

  &__active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    background: #FFF;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}